@model IEnumerable<CERBookingSystem.Models.BookingModel>


<table class="table">
    <tr>
        <th>Booking Id</th>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Status</th>
    </tr>
    @foreach (var b in Model)
    {
        <tr>
            <td>
                @b.BookingId
            </td>
            <td>
                @b.dateOutbound.Date.ToString("dd/MM/yy")
            </td>
            <td>
                @b.source
            <td>
                @b.destination
            </td>
            <td>
                @b.status
            </td>
            <td>
                @if (!b.status.Equals("Cancelled") && (DateTime.Now.Date <= b.dateOutbound.Date || DateTime.Now.Date <= b.dateReturn.Date))
                {
                    <a href='@Url.Action("CancelBooking", "Booking", new { bookingId = b.BookingId })'>Cancel</a>
                }
            </td>        
        </tr>
    }
</table>

