@model CERBookingSystem.Models.SearchModel
@using (Html.BeginForm("NewBooking", "Booking", FormMethod.Post))
{
    <div id="lstOut" class="list-group" style="padding-top:20px">
        @foreach (var outTrains in Model.OutboundTrainRoutes)
        {
            <a id="@outTrains.TrainRouteId" class="list-group-item">
                <h4 class="list-group-item-heading">@Model.sourceCity  :  @outTrains.departureTime</h4>
                <h4 class="list-group-item-text">@Model.destCity  :  @outTrains.arrivalTime</h4>
            </a>
        }
    </div>
    <div id="lstReturn" class="list-group">
        @foreach (var retTrains in Model.ReturnTrainRoutes)
        {
            <a id="@retTrains.TrainRouteId" class="list-group-item">
                <h4 class="list-group-item-heading">@Model.destCity  :  @retTrains.departureTime</h4>
                <h4 class="list-group-item-text">@Model.sourceCity  :  @retTrains.arrivalTime</h4>
            </a>
        }
    </div>
    @Html.HiddenFor(Model => Model.selectedOutbound)
    @Html.HiddenFor(Model => Model.selectedReturn)
    @Html.HiddenFor(Model => Model.bookingDetails.numberOfPassengers, new { Model.bookingDetails.numberOfPassengers })
    @Html.HiddenFor(Model => Model.bookingDetails.firstClass, new { Model.bookingDetails.firstClass })
    @Html.HiddenFor(Model => Model.bookingDetails.isReturn, new { Model.bookingDetails.isReturn })
    @Html.HiddenFor(Model => Model.cityDetails)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Continue" class="btn btn-default" />
        </div>
    </div>
}

    

<@section scripts{
<script>
    $('#lstOut').on('click', '> a', function (e) {
        var $this = $(this);
        var id = $(this).attr('id');
        $('#lstOut').find('.active').removeClass('active');
        $this.addClass('active');
        $("#selectedOutbound").val(id);
    });
    $('#lstReturn').on('click', '> a', function (e) {
        var $this = $(this);
        var id = $(this).attr('id');
        $('#lstReturn').find('.active').removeClass('active');
        $this.addClass('active');
        $("#selectedReturn").val(id);
    });
</script>
}
