
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Styles.Render("~/Content/bootstrap-toggle.css")
    @Scripts.Render("~/bundles/modernizr")
        

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"  >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("China Express Railways", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{string employee = Html.Action("IsEmployee", "User", new { emailAddress = User.Identity.Name }).ToString();
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    if (Request.IsAuthenticated && employee.Equals("False"))
                    {
                        <li>@Html.ActionLink("Bookings", "Index", "Bookings")</li>
                    }
                    else if (Request.IsAuthenticated && employee.Equals("True"))
                    {
                        <li>@Html.ActionLink("Bookings", "Index", "Bookings")</li>
                        <li>@Html.ActionLink("Manage", "Index", "TrainRoute")</li>
                    }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        string username = "Welcome " + Html.Action("UserName", "User", new { emailAddress = User.Identity.Name }).ToString();
                        <li>@Html.ActionLink(username, "LogOut", "User")</li>
                        <li>@Html.ActionLink("Log Out", "LogOut", "User")</li>
                    }
                    else
                    {
                        <li><button type = "button" class="btn btn-success" onclick="location.href='@Url.Action("Register", "User")'">Register</button></li>
                        <li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal">Sign In</button></li>
                    }
                </ul>
</div>
        </div>
    </div>
    @if (ViewBag.ShowMenu == true)
    {
        <div class="navbar">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul style="display: inline-block; float:none; " class="nav navbar-nav">
                        <li>@Html.ActionLink("New City", "AddNewCity", "TrainRoute")</li>
                        <li>@Html.ActionLink("New Train", "AddNewTrain", "TrainRoute")</li>
                        <li>@Html.ActionLink("New Route", "AddNewRoute", "TrainRoute")</li>
                        <li>@Html.ActionLink("New Train", "AddNewTrainRoute", "TrainRoute")</li>
                    </ul>
                </div>
            </div>
        </div>
    }
    <div class="container body-content">
        @RenderBody()
        @Html.Partial("Login", new CERBookingSystem.Models.UserLogin())
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - China Express Railways</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/bootstrap3-typeahead.js")
    @Scripts.Render("~/Scripts/bloodhound.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.js")
    @Scripts.Render("~/Scripts/bootstrap-toggle.js")
    
    
    @RenderSection("scripts", required: false)
</body>
</html>
